<div class="container">
  <div class="row row-cols-1 g-3 mb-3">
    <% @products.each do |product| %>
      <div class="col-sm-12 col-xl-4 col-lg-6 col-md-12">
        <div class="card mb-3 h-100">
          <div class="row">
            <div class="col-6">
              <div class="card-body">
                <%= cl_image_tag product.photos.first.key, class:"img-fluid ", crop: :fill %>
              </div>
            </div>
            <div class="col-6 text-center">
              <h4 class="card-title mt-3"><%= product.name %></h4>
              <p class="card-body d-flex flex-column mt-auto text-muted">Price: <%= product.price_cents %>₽</p>
              <p class="card-body d-flex flex-column mt-auto">
              <div class="navbar-fixed-bottom"><%= link_to "Show", product_path(product), class: "btn btn-outline-dark" %></div>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
